:host {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

:host * {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content-container {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

.main-content-container > fieldset {
  border: none;
}
