:host {
  display: block;
  flex: 1;
  max-width: 300px;
  min-width: 300px;
  padding: 0.5rem;
  border: 1px solid #e5e5e5;
  margin-right: 1rem;
  box-sizing: border-box;
  padding-bottom: 1rem;
  max-height: 750px;
  overflow-y: scroll;
}

hr {
  border: none;
  height: 1px;
  background-color: #e5e5e5;
}

label {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid black;
  width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
}

input[type="file"] {
  color: white;
}

input[type="text"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border: 1px solid black;
}

button {
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
